In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as py
%matplotlib inline
import wget
import requests
import urllib.request
import urllib.parse
import re

In [2]:
#to get all web page data into xml tags
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
values={
    's':'basic',
    'submit':'search'
}
data=urllib.parse.urlencode(values)
data=data.encode('utf-8')
req=urllib.request.Request(url,data)
resp=urllib.request.urlopen(req)
print(resp)
page=resp.read()

<http.client.HTTPResponse object at 0x00000184A9376208>

In [3]:
#print(page)
#band_title= re.findall(r'<band_title>(.*?)</band_title>',str(page))
#print(band_title)

In [27]:
#read webpage tables using read_html
#https://medium.com/@ageitgey/quick-tip-the-easiest-way-to-grab-data-out-of-a-web-page-in-python-7153cecfca58
#https://towardsdatascience.com/web-scraping-html-tables-with-python-c9baba21059
from lxml import etree
pos_df = pd.read_html(url,header=0)
#print(pos_df)
#So 2 tables in this page 289*3 and 5*31
#so we want extract only first table
import requests
import lxml.html as lh
import pandas as pd
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:289]]

[3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3]

In [26]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print (i,name)
    col.append((name,[]))

1 Postcode
2 Borough
3 Neighbourhood

In [28]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [29]:
[len(C) for (title,C) in col]

[289, 289, 289]

In [32]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)
print(df.head(11))
print(df.shape)

   Postcode           Borough     Neighbourhood\n
0       M1A      Not assigned      Not assigned\n
1       M2A      Not assigned      Not assigned\n
2       M3A        North York         Parkwoods\n
3       M4A        North York  Victoria Village\n
4       M5A  Downtown Toronto      Harbourfront\n
5       M5A  Downtown Toronto       Regent Park\n
6       M6A        North York  Lawrence Heights\n
7       M6A        North York    Lawrence Manor\n
8       M7A      Queen's Park      Not assigned\n
9       M8A      Not assigned      Not assigned\n
10      M9A         Etobicoke  Islington Avenue\n
(289, 3)

In [34]:
#2nd Filter removing rows which are not assigned to Borough
df=df[df['Borough']!='Not assigned']
print(df.head())
print(df.shape)

  Postcode           Borough     Neighbourhood\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n
5      M5A  Downtown Toronto       Regent Park\n
6      M6A        North York  Lawrence Heights\n
(212, 3)

In [37]:
#Now need to find Duplicates in Postcode
df['Postcode'].value_counts

<bound method IndexOpsMixin.value_counts of 2      M3A
3      M4A
4      M5A
5      M5A
6      M6A
7      M6A
8      M7A
10     M9A
11     M1B
12     M1B
14     M3B
15     M4B
16     M4B
17     M5B
18     M5B
19     M6B
22     M9B
23     M9B
24     M9B
25     M9B
26     M9B
27     M1C
28     M1C
29     M1C
31     M3C
32     M3C
33     M4C
34     M5C
35     M6C
38     M9C
      ...
236    M1W
237    M1W
240    M4W
241    M5W
244    M8W
245    M8W
246    M9W
247    M1X
250    M4X
251    M4X
252    M5X
253    M5X
256    M8X
257    M8X
258    M8X
263    M4Y
266    M7Y
267    M8Y
268    M8Y
269    M8Y
270    M8Y
271    M8Y
272    M8Y
273    M8Y
274    M8Y
283    M8Z
284    M8Z
285    M8Z
286    M8Z
287    M8Z
Name: Postcode, Length: 212, dtype: object>